@import url('Pretendard.css');

* {
  scroll-behavior: smooth;

  transition: background-color 200ms ease, color 100ms ease;
}

body {
  --bg: #fff;
  --color: #000;

  --intro-section-head-color: #3182f6;
  --intro-section-child-body-color: #6b7684;
  --intro-section-bg: #f9fafb;
  --intro-enter-bg: #225cff;

  --navbar-navlink-bg: #343f5d;
  --navbar-navlink-color: #fff;
  --navbar-border: #ededed;

  --button-primary-bg: #225cff;
  --button-primary-bg-hover: #2a4fe5;
  --button-primary-color: #fff;
  --button-kakao-bg: #ffe91c;
  --button-kakao-bg-hover: #f3dd13;
  --button-kakao-color: #000;

  --checkbox-bg: #ced8e9;
  --checkbox-color: #000;

  --textfield-border: #bbb;
  --textfield-border-focus: #222;
  --textfield-bg: #fff;
  --textfield-color: #000;
  --textfield-label-color: #000;
  --textfield-label-color-focus: #000;

  --login-link-color: #3354ff;

  --footer-bg: #373737;
}

body.dark {
  --bg: #111;
  --color: #fff;

  --intro-section-head-color: #3182f6;
  --intro-section-child-body-color: #adbdd2;
  --intro-section-bg: #484c55;
}

body {
  overflow: hidden scroll;

  margin: 0;

  background-color: var(--bg);

  color: var(--color);
  font-family: 'Pretendard';
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 200ms cubic-bezier(0.02, 0.74, 0.66, 1.37);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}
