@import url('Pretendard.css');

* {
  scroll-behavior: smooth;
}

body {
  --bg: #fff;
  --color: #000;

  --section-head-color: #3182f6;

  margin: 0;

  background-color: #fff;

  color: var(--color);
  font-family: 'Pretendard';
}
