@import url('Pretendard.css');

* {
  scroll-behavior: smooth;

  transition: background-color 200ms ease, color 100ms ease;
}

body {
  --bg: #fff;
  --color: #000;

  --intro-section-head-color: #3182f6;
  --intro-section-child-body-color: #6b7684;
  --intro-section-bg: #f9fafb;

  --footer-bg: #373737;
}

body.dark {
  --bg: #111;
  --color: #fff;

  --intro-section-head-color: #3182f6;
  --intro-section-child-body-color: #adbdd2;
  --intro-section-bg: #484c55;
}

body {
  overflow-x: hidden;

  margin: 0;

  background-color: var(--bg);

  color: var(--color);
  font-family: 'Pretendard';
}
